*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3535EC;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    margin: 15px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    background-color: #093e83;
    border-radius: 10px;
}

.box {
    width: 65px;
    height: 65px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    color: black;
}

.multiplo-3{
    background-color: tomato;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.multiplo-5 {
    background-color: yellowgreen;
    color: rgb(117, 79, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.multiplo-15 {
    background-color: crimson;
    color: sandybrown;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}