*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3535EC;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    margin: 15px;
    text-align: center;
}